[access]
	inheritFrom = All-Projects
[project]
	description = A developer friendly way to create and maintain a roadmap for your project.
[access "refs/*"]
	owner = group user/Markus Zoeller (markuszoeller)
[access "refs/for/refs/*"]
	read = group user/Markus Zoeller (markuszoeller)
	push = group user/Markus Zoeller (markuszoeller)
	label-Code-Review = -2..+2 group user/Markus Zoeller (markuszoeller)
	label-Verified = -1..+1 group user/Markus Zoeller (markuszoeller)
	rebase = group user/Markus Zoeller (markuszoeller)
	removeReviewer = group user/Markus Zoeller (markuszoeller)
	submit = group user/Markus Zoeller (markuszoeller)
[access "refs/heads/*"]
	read = group user/Markus Zoeller (markuszoeller)
	create = group user/Markus Zoeller (markuszoeller)
	push = +force group user/Markus Zoeller (markuszoeller)
	pushMerge = group user/Markus Zoeller (markuszoeller)
[access "refs/tags/*"]
	push = group user/Markus Zoeller (markuszoeller)
	push = +force group user/Markus Zoeller (markuszoeller)
